#ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="*", ATTR{idProduct}=="*", OWNER="vince", RUN+="/home/vince/bin/usb_add.sh"
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="*hid*", OWNER="vince", RUN+="/home/vince/bin/usb_add.sh"
#ACTION=="remove", SUBSYSTEMS=="usb", DRIVERS=="*hid*", OWNER="vince", RUN+="/home/vince/bin/usb_remove.sh"
